{{ define "main" }}


<section class="section">
  <div class="container">
    
    <div class="d-flex justify-content-center">
        <img src="/images/SFPartnerSquare.png" width="80" height="80"/>
        
    </div>
    <div class="d-flex justify-content-center mt-3">
      
    
      <h4>Practical Algorithm, Inc. is a Registered Salesforce Partner</h4>
      
  </div>
   
    <div class="row">
      
      
      
      <div class="col-lg-4 col-sm-6 mb-4 d-flex align-items-stretch">
        <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
          <!-- <img class="card-img-top rounded-0" src="/images/services/research-1.jpg" alt="Service"> -->
          <div class="card-body">
            <div class="d-flex justify-content-center">
            <i class="ti-pencil-alt feature-icon"></i>
            </div>
            <h4 class="card-title text-center mt-3">Implement</h4>
            <p class="card-text"><b>Are you new to Salesforce or expanding to a new business unit?</b></p>
            <p class="card-text">We will architect, implement and deploy a solution that meets all of your business needs.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4 d-flex align-items-stretch">
        <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <i class="ti-wand feature-icon"></i>
              </div>
            
            <h4 class="card-title text-center mt-3">Enhance</h4>
            <p class="card-text"><b>Do you want to add new features to your existing Salesforce org?</b></p>
            <p class="card-text">We will design new functionality to seemlessly blend into your user experience without disrupting your architecture.</p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-6 mb-4 d-flex align-items-stretch">
        <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
          
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <i class="ti-hummer feature-icon"></i>
            </div>
            <h4 class="card-title text-center mt-3">Improve</h4>
            <p class="card-text"><b>Are you unhappy with your current Salesforce implementation or want it to be updated?</b></p>
            <p class="card-text">We have extensive experience in repairing poor implementaions and updating orgs to the latest Salesforce technology.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>




{{ end }}